<a href="https://colab.research.google.com/github/utukJ/Graded_quiz/blob/master/Graded_quiz_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Importing relevant libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
#Getting the dataset into a pandas dataframe


data_url = 'https://bit.ly/HDSC-StageOneDataset'
energy_data = pd.read_csv(data_url)
energy_data

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [35]:
# Finding fuel type code with the lowest average fuel cost per unit burned

energy_data.groupby('fuel_type_code_pudl').mean()['fuel_cost_per_unit_burned']

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [53]:
# Finding the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit)

energy_data.describe().loc[['std', '75%'], ['fuel_mmbtu_per_unit']]

     fuel_mmbtu_per_unit
std             10.60022
75%             17.00600

In [23]:
# Finding the skewness and kurtosis for the fuel quantity burned

print("Skewness: ", energy_data['fuel_qty_burned'].skew())
print("Kurtosis: ", energy_data['fuel_qty_burned'].kurt())

Skewness:  15.851495469109503
Kurtosis:  651.3694501337732

In [28]:
# Finding missing valuesthe total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places? 

missing_vals = energy_data.isnull().sum()
total_missing_vals = missing_vals.sum()
percentage = (total_missing_vals / len(energy_data.index)) * 100

print('MISSING VALUES PER FEATURE: ', missing_vals)
print()
print('TOTAL NUMBER OF MISSING VALUES: ', total_missing_vals)
print()
print('percentage = {}%'.format(percentage))

MISSING VALUES PER FEATURE:  record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

TOTAL NUMBER OF MISSING VALUES:  180

percentage = 0.609694136774718%

In [41]:
#Finding correlations
#Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?



correlation_table = energy_data.corr()
correlation_table['fuel_cost_per_unit_burned'].abs().sort_values() #absolute value is used to allow negative correlation to be viewed as high correlation

fuel_cost_per_mmbtu             0.000437
fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_qty_burned                 0.018535
utility_id_ferc1                0.037863
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [58]:
#For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

coal_energy_data = energy_data[energy_data['fuel_type_code_pudl'] == 'coal']
cost_per_year = coal_energy_data.groupby('report_year').mean()['fuel_cost_per_unit_burned']
cost_1994 = cost_per_year[1994]
cost_1998 = cost_per_year[1998]

percentage_change = ((cost_1998 - cost_1994)/cost_1994) * 100

print("percentage_change = {}%".format(percentage_change))

percentage_change = -12.458551963280119%

In [57]:
# Highest average fuel cost per unit delivered

energy_data.groupby('report_year').mean()['fuel_cost_per_unit_delivered']

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64